body{
background-color: red;
}
.form-group{
background-color: coral;
width: 800px;
border-radius: 30px;
}
h1{
font-family: 'Courier New', Courier, monospace;
font-size: 80px;
}
img{
height: 80px;
width: 80px;
}
.glyphicon{
margin-left: 1300px;
}
